@font-face {
  font-family:'Open Sans-Semibold'; 
  src: url('..//fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('..//fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
@font-face {
  font-family:'Open Sans';
  src: url('..//fonts/Open Sans Regular.eot');
src: url('..//fonts/Open Sans Regular.eot?#iefix') format('embedded-opentype'),
  url('..//fonts/Open Sans Regular.woff2') format('woff2'),
  url('..//fonts/Open Sans Regular.woff') format('woff'),
  url('..//fonts/Open Sans Regular.svg#Open Sans Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}